
button{
    cursor: pointer;
    margin-top: 10px;
}

.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
}

.recsenha_bt{
    padding: 0px;
    background: transparent;
    border: none;
    color: rgb(0, 102, 255);
    margin-top: 50px;
}

.entrar_bt{
    background: white;
    border: none;
    margin-bottom: 0;
}

.registro_bt{
    background: transparent;
    border: 1px solid white;
}

button:active{
    opacity: 0.7;
}

button[disabled]{
    opacity: 0.5;
}

.error{
    color: red;
    display: none;
}

.carregando{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

.carregando label{
    font-size: 24px;
}