ol{
    list-style-type: none;
    padding: 0;
}

ol li{
    cursor: pointer;
    background: white;
    padding: 8px 16px;
    border-bottom: 1px solid gray;
}

ol li:hover{
    opacity: 0.8;
}

p{
    margin: 4px 0;
}

ol li.gasto{
    border-left: 10px solid red;
}

ol li.entrada{
    border-left: 10px solid green;
}

button.alerta{
    width: auto;
    float: right;
    display: none;
}

ol li:hover button.alerta{
    display: block;
}